
.footerLogin{
    position: absolute;
    top: 585px;
    z-index: -3;
}

#divAuthorization form p input{
    margin-left: 20px;
    padding-left: 10px;
    weight: 300px;
}

#divRegistration{
    hight: 400px;
    weight: 800px;
    position: absolute;
    left: 250px;
    top: 60px;
    line-height: 6px;
    padding: 1px;
    margin-left: -100px;
}

#divAuthorization{
    position: absolute;
    left: 270px;
    top: 2px;
    hight: 500px;
}


#divAuthorization input{
    width: 300px;
    font-size: 22px;
}

#divRegistration input p{
    padding: 1px;
}

.buttonRegistration{
    padding: .5em;
    hight: 50px;
    width: 170px;
    position: absolute;
    top: 285px;
    left: 85px;
    text-align: center;
    background-color: rgba(80, 80, 80, 0.8);
    border-radius: 3px;
}

.buttonRegistration:hover{
    padding: .5em;
    hight: 50px;
    width: 170px;
    position: absolute;
    top: 285px;
    left: 85px;
    text-align: center;
    background-color: rgba(80, 80, 80, 0.8);
    border-radius: 3px;
}

#buttonLog{
    position: absolute;
    left: 0px;
    top: 200px;
    height: 40px;
    weight:100px;
    background-color: darkblue;
    opacity: 1;
    font-size: 22px;
    border: 0px solid;
}